/* css for header  */
/*  10 11 12 13  */
@media (min-width : 992px) and (max-width : 1249px) {

    /* navbar */
    .nav-link {
        font-size: 13px !important;
    }

    .sec-3-left-sec .sec-3-p,
    .stepbox .step-box-h3,
    .aboutsec2-p,
    .propertysec4-p {
        font-size: 17px;
    }

    .navbar {
        padding: 14px 65px;
    }

    /*.header-menubar{*/
    /*padding : 7px 85px;*/
    /*}*/

    .header-logo {
        width: 170px;

    }

    .footer-logo {
        width: 170px;
    }

    .header-agent-btn,
    .header-phone-text {
        font-size: 12px;
    }

    .header-phone-icon {
        font-size: 10px;
        margin: 2px 0px;
        padding: 3px;
    }

    .header-agent-btn {
        padding: 2px 20px;
    }

    /* sec1 */
    .sec1,
    .propertysec1 {
        height: 100% !important;
        padding: 90px 70px;
    }

    .section-padding {
        padding: 0px 90px;
    }
    .padding{
        padding: 0px 90px;
    }


    /* sec3 */
    .sec-3-left-sec .sec-3-h1 {
        font-size: 54px;
        line-height: 45px;
    }

    .input-wrapper {
        width: 58%;
        /*padding: 16px;*/
        padding: 7px 0px 7px 20px;
    }

    .input-wrapper .sec-1-btn,
    .input-wrapper .sec-1-input {
        padding: 9px;
        font-size: 14px;
        font-weight: 600;
    }

    .bgarrow {
        background-size: 25%;
        background-position-y: 17px;
        background-position-x: 200px;
    }

    .sec1-h1 {
        font-size: 30px;
        line-height: 33px;
    }

    .stepbox .step-box-h2,
    .sec4 .sec4-h1,
    .sec5 .sec-5-h2,
    .sec-5-h2,
    .propertysec4-h1,
    .faqSec h2 {
        font-size: 28px;
    }

    /* sec4 */
    .sec4 .sec-4-p {
        font-size: 18px;
        width: 58%;
    }

    .sec-4box {
        width: 300px;
        margin: 0px 20px;
        height: 260px;
    }

    .sec-4box .sec-4-h2 {
        font-size: 18px;
        margin: 15px 0px;
        padding: 0px 20px;
    }

    .feature__title {
        font-size: 14px;
    }

    .feature__description {
        font-size: 12px;
    }

    .sec-4box .sec-4-h3 {
        font-size: 12px;
        line-height: 18px;
        padding: 3px 19px;
    }

    .sec-4box img {
        width: 55px;
        height: 60px;
        /* object-fit: cover; */
    }

    .contact-icon {
        width: 18px;
        height: 17px;
    }

    .sec6 .sec-6-h1 {
        font-size: 16px;
        /*font-size: 25px;*/
        /*width: 76%;*/
    }

    .sec6 .input-wrapper {
        width: 85%;
        /*padding: 16px;*/
        padding: 7px 0px 7px 20px;
    }

    /*//footer*/
    .footer-sec-2 h5 {
        font-size: 19px;
    }

    .footer-sec-1 .footer-sec1-h1 {
        font-size: 14px;
    }

    .footer-sec-input .input-wrapper .footer-sec1-btn {
        padding: 7px 16px;
        font-size: 12px;
        top: 4px;
        right: 6px;
    }

    .footer-sec-input .input-wrapper .footer-sec1-input {
        font-size: 10px;
        padding: 12px 20px;
    }

    .contact-icon {
        width: 11px;
        height: 12px;
    }

    .email-icon {
        width: 10px;
        height: 8px;
    }

    footer .nav-link {
        font-size: 12px !important;
        text-wrap: nowrap;
    }

    .footer-sec-icon {
        margin-top: 10px;
        font-size: 15px !important;
    }

    .footersec-h2,
    .footersec-h3 {
        font-size: 10px !important;
    }

    /*about page*/
    .aboutsec1 {
        height: 100%;
        padding: 90px 100px;
    }

    .aboutsec2 {
        padding: 30px 100px;
    }

    footer {
        padding: 0px 100px;
    }

    .about-sec-1 {
        font-size: 30px;
    }

    .aboutsec1line {
        margin: 30px 0px;
    }

    .about-sec-p {
        font-size: 18px;
    }

    .aboutsec2-p {
        font-size: 12px;
        line-height: 22px;

    }

    .aboutsec2-h3 {
        font-size: 22px;
    }

    .aboutsec2-h1,
    .aboutsec2-h2 {
        font-size: 18px;
        margin: 30px 0px;
    }

    .aboutsec2-img {
        margin-top: 25px !important;
        height: 75%;
    }

    .aboutsec2-img3 {
        height: 100px;

    }

    /*.propety sec */
    .propertyimg {
        top: -114px;
        right: -28px;
        width: 499px;
    }

    .accordion-title {
        font-size: 15px !important;
    }

    .accordion button {
        padding: 15px;
    }

    .accordion .icon {
        width: 69px !important;
        height: 65px !important;
    }

    /*calculator*/
    .calculaterSec1-h1,
    .commissionSec h2,
    .commissionSec h2,
    .mostCommon h2 {
        font-size: 30px;
    }

    .commission-img img {
        height: 94%;
        width: 330px;
    }

    .commission-img2 img {
        height: 94%;
        width: 330px;
    }

    .calculaterSec1-p {
        font-size: 17px;
        line-height: 22px;
        font-weight: 500;
    }

    .commissionSec p,
    .mostCommon p {
        font-size: 15px;
        margin-top: 15px;
        line-height: 24px;

    }

    .mostCommon .card .card-body .card-text {
        font-size: 12px;
        line-height: 20px;
    }

    .mostCommon .card {
        width: 100%;
        min-height: 0px !important;
        height: 100% !important;
        margin-top: 15px;
    }

    .card-img-1 {
        width: 70px;
        height: 64px;
    }

    .card-img-2 {
        width: 54px;
        height: 57px;
    }

    .card-header {
        padding: 7px 0px;
    }

    .mostCommon .card .card-body {
        padding: 20px;
    }

    .mostCommon .card .card-body .card-header h3 {
        font-size: 18px;
        line-height: 21px;
    }

    .flatFee {
        margin: 45px 0px;
    }

    .flatFee h2 {
        font-size: 30px;
        font-weight: bold;
        margin-bottom: 35px;

    }

    .flatFee p {
        margin: 20px 0px;
        font-size: 15px;
    }

    /*cashback*/
    .cashsec1 {
        height: 100%;
    }

    .cashsec1 h1 {
        font-size: 30px;
    }

    .cashsec1 p {
        font-size: 17px;
    }

    .cashsec2 {
        padding: 60px 0px;
    }

    .cashsec2 h1 {
        font-size: 27px;
        font-weight: 700;
    }

    .cashsec2 p {
        font-size: 15px;
        line-height: 26px;
    }

    .cashbackimg {
        height: 200px;
    }

    .right-column p {
        font-size: 17px !important;
        line-height: 23px !important;
    }

    .right-column h2 {
        font-size: 45px !important;
    }

    .cont-5000 label {
        font-size: 14px !important;
    }

    .cont-5000 input {
        font-size: 14px !important;
        height: 40px !important;
    }

    .cont-5000 button {
        margin: 15px 0px 45px 0px;
        max-width: 121px !important;
        height: 36px !important;
    }

    .firstFaq {
        font-size: 14px;
    }

    .contactUs {
        height: 100%;
        padding: 110px 0px;
    }

    .contactUs h1 {
        font-size: 26px;
    }

    .contactUs h3 {
        font-size: 20px;
    }

    .form-container h2 {
        font-size: 25px;
    }

    .form-container p {
        font-size: 16px;
    }

    .form-container .formBox .connect-us,
    .form-field {
        padding: 40px 20px 0px 20px;

    }

    /********************************************************************/
    /*stepbox css */
    .comparestepsbox {
        width: 70%;
    }

    .stepboxheading01 {
        font-size: 28px;
        margin-bottom: 30px;
        padding-bottom: 20px;
    }

    .stepboxheading02 {
        font-size: 13px;
        line-height: 21px;
    }

    .stepboxheading03 {
        font-size: 15px;
        line-height: 21px;
    }

    .disclaimer {
        margin: 30px 0px;
    }

    .step1sellbox2 p,
    .step1sellbox1 p {
        font-size: 23px;
        font-weight: 600;
        margin: 1px 0px;
    }

    .step2sellbox1 p,
    .step2sellbox2 p,
    .step2sellbox3 p,
    .step2sellbox4 p {
        font-size: 14px;
        font-weight: 600;
        margin: 5px 0px;
    }

    .step1sellbox1 img,
    .step1sellbox2 img {
        width: 50px;
        height: 50px;
    }

    .step2sellbox1 img,
    .step2sellbox2 img,
    .step2sellbox3 img,
    .step2sellbox4 img {
        width: 40px;
        height: 30px;
        object-fit: contain;
    }

    .infoicon {
        width: 12px;
    }

    .steptext {
        font-size: 12px;
        margin: 9px 0px;
    }

    .step3text {
        font-size: 17px !important;
    }

    .step4input {

        font-size: 16px;
    }

    .step4btn {
        font-size: 16px;
        padding: 20px 30px;

    }

    /********************************************************************/
    .privacysec {
        height: 350px;
        padding: 100px 0px;
    }

    .privacytext h1 {
        font-size: 21px;
        padding-top: 8px;
    }

    .privacytext h4 {
        font-size: 21px;
        padding-top: 8px;
    }

    .privacytext h2 {
        font-size: 13px;
        margin-bottom: 12px;
    }

    .privacytext p {
        font-size: 13px;
        margin: 3px;
    }

    .privacytext h3 {
        font-size: 13px;
        padding-top: 5px;
        padding-bottom: 40px;
        margin: 0px;
    }

    /*agentportalcss*/

    .agentportalsec1 .agent-sec-h1 {
        font-size: 32px;
    }

    .agentportalsec1 p {
        font-size: 17px;
    }

    .agentportalsec2-h1 {
        font-size: 28px;
        padding: 30px 0px 0px;
    }

    .agentportalsec2box h1 {
        font-size: 22px;
    }

    .agentportalsec2box p {

        font-size: 12px;
    }

    .commission-content {
        padding-right: 55px !important;
    }

    /*agentportalsteps css*/
    .agentportalstep1box-1 p,
    .agentportalstep1box-2 p,
    .agentportalstep1box-3 p {
        font-size: 16px;
    }

    .step5sellbox1 p {
        font-size: 11px;
    }

    .agentstepboxheading h2 {
        font-size: 28px;
    }

    .agentstepsbtn-1 h3,
    .agentstepsbtn-2 h3 {
        font-size: 20px;
    }

    .loginbox {
        width: 35%;

    }

    #sidebar {
        height: 100%;
        min-width: 280px;
    }

    .sidebar-h1 {
        font-size: 23px;
    }

    .components li a {
        font-size: 15px;
    }

    .opporbox3 p {
        font-size: 12px;
    }

    .opporbox1 {
        padding: 15px 25px;
    }
    .profilelogo {
        height: 50px;
    }
}
